<div class="display_column">
    <div class="column_container">
        <div class="title">
            Misión
        </div>
        <div class="text">
            La misión define el proposito de una empresa y lo que la diferencia de las demás. En otras palabras tiene que ver con la propuesta de valor
        </div>
        <div class="title">
            Visión
        </div>
        <div class="text">
            La visión es el destinoal que una empresa quiere llegar. En este sentido, establece los parámetros para la toma de decisiones de una empresa, las inversiones necesarias y la forma de definir estrategias    </div>

    </div>
    <app-follow-component></app-follow-component>
      
</div>

