<div class="display_column">
    <div class="column_container">
        <div>
            <form class="login-form">
                <input type="correo" class="login-input" placeholder="Correo">
                <input type="password" class="login-input" placeholder="Contraseña">
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
    <div class="column_container">
        <div class="row_container">
            <div class="text" id="principal">Contenido multimedia genial</div>
            <div id="second">
                <img src="../../../assets/images/image2.jpg">
                <img src="../../../assets/images/image3.jpg">
            </div>
        </div>
        <div class="row_container">
            <div class="text">Siguenos en:</div>
            <div class="icons">
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="logo-tiktok"></ion-icon>
            </div>
        </div>
    </div>
</div>
