<nav class="navbar">
    <a [ngClass]="{'selected': selectedPage==0}" (click)="onClick(0)" routerLink="/" class="nav-item">Inicio</a>
    <a [ngClass]="{'selected': selectedPage==1}" (click)="onClick(1)" routerLink="/about" class="nav-item">Quienes somos</a>
    <a [ngClass]="{'selected': selectedPage==2}" (click)="onClick(2)" routerLink="/contacto" class="nav-item">Contactanos</a>
    <a [ngClass]="{'selected': selectedPage==3}" (click)="onClick(3)" routerLink="/login" class="nav-item">Registrarse</a>
</nav>
