<div class="display_column">
    <div class="column_container">
        <div>
            <img src="../../../assets/images/mapa.png">
        </div>
    </div>
    <div class="column_container">
        <div class="row_container">
            <div id="principal">
                <img src="../../../assets/images/image1.jpg">
            </div>
            <div id="second">
                <img src="../../../assets/images/image2.jpg">
                <img src="../../../assets/images/image3.jpg">
            </div>
        </div>
        <div class="row_container">
            <app-follow-component></app-follow-component>
        </div>
    </div>
</div>
